.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.hyp {
    color: #FFFFFF;
    text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.txt {
  background: #ffffff;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.slt {
  margin-left: 10px;
  background: #ffffff;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 15px;
}

   @media (max-width:600px) {
      .billimg { width:100%; } 
    }
